<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ url_for('forumHomepage') }}" class="nav-link px-2 link-dark">Forum</a></li>
        </ul>
        {% if current_user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
          </ul>
        </div>
        {% else %}
        <ul class="nav">
            <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link link-dark px-2">Sign up</a></li>
          </ul>
        {% endif %}
      </div>
    </div>
  </header>