{% extends 'base.html' %}

{% block title%} Create Thread {% endblock %}

{% block content %}

<section class="min-vh-100 py-5">
    <div class="row justify-content-center pt-6">
      <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="text-center mb-4">
              <h1 class="mb-1">Thread</h1>
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for cat, message in messages %}
                      {% if cat == 'error' %}
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                              <b>Error!</b> {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                          </div>
                      {% elif cat == 'success' %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      {% endif %}
                  {% endfor %}
              {% endif %}
            {% endwith %}
          <form method="POST" enctype='multipart/form-data' novalidate>
              {{ form.hidden_tag() }}
              <div class="form-group has-error pb-2">
                  {{ form.title(placeholder="Title", class="form-control") }}
              </div>
              {% if form.title.errors %}
                  {% for error in form.title.errors %}
                  <span aria-hidden="true">{{ error }}</span><br>
                  {% endfor %}
              {% endif %}
              <div class="form-group has-error pb-2">
                {{ form.text(placeholder="Text", class="form-control") }}
            </div>
            {% if form.text.errors %}
                {% for error in form.text.errors %}
                <span aria-hidden="true">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
              <div class="form-group pb-2">
                    {{ form.img.lable }}
                  {{ form.img(class="form-control") }}
              </div>
              {% if form.img.errors %}
                  {% for error in form.img.errors %}
                  <span aria-hidden="true">{{ error }}</span><br>
                  {% endfor %}
              {% endif %}

              <div class="form-group text-center">
                  {{ form.submit(class="btn-block btn btn-primary") }}
              </div>
          </form>
      </div>
    </div>
</section>




{% endblock %}