{% extends 'base.html' %}

{% block title%} Forum {% endblock %}

{% block content %}

{% if current_user.is_authenticated and current_user.check_perm('create category') %}
<a href="{{ url_for('forumCategoryCreate') }}">create category</a>
{% endif %}

<br>
{% for category in categories %}
    <p>
        {% if category.to_show(current_user) or current_user.check_perm('create section') %}
            <h1>{{ category.name }} </h1>
            {% if current_user.is_authenticated and current_user.check_perm('edit category') %}
            <a href="{{ url_for('forumCategoryEdit', category_id=category.id) }}">edit</a>
            {% endif %}
            {% if current_user.is_authenticated and current_user.check_perm('delete category') %}
            <a href="{{ url_for('forumCategoryDelete', category_id=category.id) }}">delete</a>
            {% endif %}
            {% if current_user.is_authenticated and current_user.check_perm('create section') %}
            <a href="{{ url_for('forumSectionCreate', category_id=category.id) }}">add section</a>
            {% endif %}
        {% endif %}
    </p>
    {% for section in category.sections %}
        {% if not section.priority_required or (current_user.is_authenticated and current_user.priority >= section.priority_required) %}
            <h3><a href="{{ url_for('forumSection', section_slug=section.slug) }}">{{ section.name }}</a>
            {% if current_user.is_authenticated %}
                {% if current_user.check_perm('edit section') %}
                <a href="{{ url_for('forumSectionEdit', section_slug=section.slug) }}">edit</a>
                {% endif %}
                {% if current_user.check_perm('delete section') %}
                <a href="{{ url_for('forumSectionDelete', section_slug=section.slug) }}">delete</a>
                {% endif %}
            {% endif %}
            </h3>
            <i>{{ section.desc }}</i> ({{ section.threads|length }} post)
            
            {% set last_post = section.last_post  %}
            {% if last_post %}
                {% set last_post_user = last_post.user %}
                <b>Last post: </b> 
                <a href="{{ url_for('forumThread', thread_slug=last_post.slug) }}"> 
                    {{ last_post.title }} 
                </a><br> {{ last_post.create_at.strftime('%d/%m/%Y %H:%M:%S') }}
                {% if last_post_user %} 
                    by {{ last_post_user.username }} 
                {% endif %}
            {% endif %}   
            <br>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}