By: {{ user.username }}{{ thread.title }} Views: {{ thread.views }} <br>
{{ thread.text }}
{% if thread.img %}
<img src="{{ url_for('static', filename='thread-img/') + thread.img }}" alt="{{ thread.img }}">
{% endif %}

<hr>

{% if current_user.is_authenticated %}
    <!-- staffer -->
    {% if thread.closed and current_user.check_perm('open thread') %}
        <a href="{{ url_for('forumOpenThread', thread_id=thread.id) }}">open</a>
    {% elif not thread.closed and current_user.check_perm('open thread') %}
    <a href="{{ url_for('forumCloseThread', thread_id=thread.id) }}">close</a>
    {% endif %}
    <!-- author -->
    {% if thread.user_id == current_user.id %}
        <a href="{{ url_for('forumEditThread', thread_slug=thread.slug) }}">edit</a>
        <a href="{{ url_for('forumDeleteThread', thread_id=thread.id) }}">delete</a>
        {% if not thread.closed %}
        <a href="{{ url_for('forumCloseThread', thread_id=thread.id) }}">close</a>
        {% endif %}
    {% endif %}
    <!-- comments -->
    {% if not thread.closed %}
    <form method="POST" novalidate>
        {{ form_comment.hidden_tag() }}
        <div>
            <div>
                <div>
                {{ form_comment.text.label }}
                {{ form_comment.text(type="text", placeholder="Text") }}
        
                {% if form_comment.text.errors %}
                    {% for error in form_comment.text.errors %}
                    <span>{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
                </div>
                <div>
                {{ form_comment.submit(class="btn btn-warning") }}
                </div>  
            </div >
            <br><br>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <span>{{ message }}</span><br>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div> 
        </div>
    </form>
    {% endif %}
{% endif %}

{% for comment in comments %}
    {% set user = comment.user %}
    {% if user %}
        {{ comment.crate_at }} <br>
        by: {{ user.username }} RANK: {{ user.rank }}  <br>
        {{ comment.text }} vote: {{ comment.upvote_num }}<br>
        
        <div></div>
        <!-- TEST -->
        <!-- TODO: solo se non è il suo commento -->
        {% if current_user.is_authenticated and not thread.closed  %}
            <!-- subcomment  -->
            <form method="POST" novalidate>
                {{ form_comment.hidden_tag() }}
                <div>
                    <div>
                        <div>
                        {{ form_subcomment.text.label }}
                        {{ form_subcomment.text(type="text", placeholder="Text") }}

                        {{ form_subcomment.comment_id(value=comment.id) }}
                        {{ form_subcomment.to_user_id(value=comment.user.id) }}
                
                        {% if form_subcomment.text.errors %}
                            {% for error in form_subcomment.text.errors %}
                            <span>{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div>
                        {{ form_subcomment.submit(class="btn btn-warning") }}
                        </div>  
                    </div >
                    <br><br>
                    <div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <span>{{ message }}</span><br>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div> 
                </div>
            </form>
            
            <a href="{{ url_for('add_cmtupvote', comment_id=comment.id) }}">
                upvote
            </a>

            {% if current_user.check_perm('delete thread') or current_user == comment.user %}
                <a href="{{ url_for('delete_comment', comment_id=comment.id) }}">
                    delete
                </a>
                <!-- END-TEST -->
                
                ID: {{ comment.id }}
                {% for respose in comment.subcomments %}
                    {% set sub_user = respose.user %}
                    {% if sub_user %}
                        {{ respose.crate_at }} <br>
                        {{ sub_user.username }} RANK: {{ sub_user.rank }} <br>
                        TEXT:  <a href="{{ respose.user.profile_link }}">{{ respose.user.get_tag }}</a> {{ respose.text }} vote: {{ respose.upvote_num }}<br>
                        <!-- TODO: solo se non è il suo commento -->
                        <a href="{{ url_for('add_subupvote', comment_id=respose.id) }}">
                            upvote
                        </a>
                        <a href="{{ url_for('create_subcomment', comment_id=comment.id, to_user_id=respose.user_id, text='test sucomment') }}">
                            test reply
                        </a>
                        <a href="{{ url_for('delete_subcomment', comment_id=respose.id) }}">
                            delete
                        </a>
                        <br>
                    {% endif %}
                {% endfor %}
                <br>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}