By: {{ user.username }}{{ thread.title }} Views: {{ thread.views }} <br>
{{ thread.text }}
{% if thread.img %}
<img src="{{ url_for('static', filename='thread-img/') + thread.img }}" alt="{{ thread.img }}">
{% endif %}

<hr>

{% if current_user.is_authenticated %}
{% if thread.user_id == current_user.id %}
    <a href="{{ url_for('forumEditThread', thread_slug=thread.slug) }}">edit</a>
    <a href="{{ url_for('forumDeleteThread', thread_id=thread.id) }}">delete</a>
    {% if not thread.closed %}
    <a href="{{ url_for('forumCloseThread', thread_id=thread.id) }}">close</a>
    {% else %}
    <!-- TODO SOLO UNO STAFFER (DA MODIFICARE, NO UTENTE) -->
    <a href="{{ url_for('forumOpenThread', thread_id=thread.id) }}">open</a>
    {% endif %}
{% endif %}
{% if not thread.closed %}
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div>
        <div>
            <div>
            {{ form.text.label }}
            {{ form.text(type="text", placeholder="Text") }}
    
            {% if form.text.errors %}
                {% for error in form.text.errors %}
                <span>{{ error }}</span><br>
                {% endfor %}
            {% endif %}
            </div>
            <div>
            {{ form.submit(class="btn btn-warning") }}
            </div>  
        </div >
        <br><br>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <span>{{ message }}</span><br>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div> 
    </div>
</form>
{% endif %}
{% endif %}

{% for comment in comments %}
    {% set user = comment.user %}
    {% if user %}
        {{ comment.crate_at }} <br>
        by: {{ user.username }} RANK: {{ user.rank }}  <br>
        {{ comment.text }} vote: {{ comment.upvote_num }}<br>
        
        <div></div>
        <!-- TEST -->
        <!-- TODO: solo se non è il suo commento -->
        <a href="{{ url_for('add_cmtupvote', comment_id=comment.id) }}">
            upvote
        </a>

        <a href="{{ url_for('create_subcomment', comment_id=comment.id, to_user_id=comment.user_id, text='test sucomment') }}">
            test reply
        </a>

        <a href="{{ url_for('delete_comment', comment_id=comment.id) }}">
            delete
        </a>
        <!-- END-TEST -->
        
        ID: {{ comment.id }}
        {% for respose in comment.subcomments %}
            {% set sub_user = respose.user %}
            {% if sub_user %}
                {{ respose.crate_at }} <br>
                {{ sub_user.username }} RANK: {{ sub_user.rank }} <br>
                {{ respose.get_tag()[0] }} {{ respose.text }} vote: {{ respose.upvote_num }}<br>
                <!-- TODO: solo se non è il suo commento -->
                <a href="{{ url_for('add_subupvote', comment_id=respose.id) }}">
                    upvote
                </a>
                <a href="{{ url_for('create_subcomment', comment_id=comment.id, to_user_id=respose.user_id, text='test sucomment') }}">
                    test reply
                </a>
                <a href="{{ url_for('delete_subcomment', comment_id=respose.id) }}">
                    delete
                </a>
                <br>
            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
{% endfor %}