By: {{ user.username }}{{ thread.title }} Views: {{ thread.views }} <br>
{{ thread.text }}
{% if thread.img %}
<img src="{{ url_for('static', filename='thread-img/') + thread.img }}" alt="{{ thread.img }}">
{% endif %}

<hr>

{% if current_user.is_authenticated %}
    <!-- staffer -->
    {% if thread.closed and current_user.check_perm('open thread') %}
        <a href="{{ url_for('forumOpenThread', thread_id=thread.id) }}">open</a>
    {% elif not thread.closed and current_user.check_perm('open thread') %}
    <a href="{{ url_for('forumCloseThread', thread_id=thread.id) }}">close</a>
    {% endif %}
    {% if current_user.check_perm('delete thread') %}
    <a href="{{ url_for('forumDeleteThread', thread_id=thread.id) }}">delete</a>
    {% endif %}
    <!-- author -->
    {% if thread.user_id == current_user.id %}
        <a href="{{ url_for('forumEditThread', thread_slug=thread.slug) }}">edit</a>
        <a href="{{ url_for('forumDeleteThread', thread_id=thread.id) }}">delete</a>
        {% if not thread.closed %}
        <a href="{{ url_for('forumCloseThread', thread_id=thread.id) }}">close</a>
        {% endif %}
    {% endif %}
    <!-- create comment -->
    {% if not thread.closed %}
    <form method="POST" novalidate>
        {{ form_comment.hidden_tag() }}
        <div>
            <div>
                <div>
                {{ form_comment.text1.label }}
                {{ form_comment.text1(type="text", placeholder="Text") }}
        
                {% if form_comment.text1.errors %}
                    {% for error in form_comment.text1.errors %}
                    <span>{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
                </div>
                <div>
                {{ form_comment.submit1(class="btn btn-warning") }}
                </div>  
            </div >
            <br><br>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <span>{{ message }}</span><br>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div> 
        </div>
    </form>
    {% endif %}
{% endif %}

{% for comment in comments %}
    <hr>
    {% set user = comment.user %}
    {% if user %}
        <!-- Comments  -->
        [COMMENTO]{{ comment.crate_at }} <br>
        by: {{ user.username }} RANK: {{ user.rank }}  <br>
        {{ comment.text }} vote: {{ comment.upvote_num }}<br>
        <!-- comment action -->
        {% if current_user.is_authenticated and not thread.closed %}
            <a href="{{ url_for('add_cmtupvote', comment_id=comment.id) }}">
                upvote
            </a>
            {% if current_user.check_perm('delete thread') or current_user == comment.user %}
                <a href="{{ url_for('delete_comment', comment_id=comment.id) }}">
                    delete
                </a>
            {% endif%}
        {% endif%}
        <!-- create subcomments to comment -->
        <form method="POST" novalidate>
            {{ form_subcomment.hidden_tag() }}
            <h4>RISPONDI AL COMMENTO</h4>
            <div>
                <div>
                    {{ form_subcomment.text2.label }}
                    {{ form_subcomment.text2(type="text", placeholder="Text") }}
                    {{ form_subcomment.comment_id(value=comment.id, type="hidden") }}
                    {{ form_subcomment.to_user_id(value=comment.user_id, type="hidden") }}
            
                    {% if form_subcomment.text2.errors %}
                        {% for error in form_subcomment.text2.errors %}
                        <span>{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div>
                    {{ form_subcomment.submit2(class="btn btn-warning") }}
                    </div>  
                </div>
            </div> 
        </form>
        <!-- subcomments -->
        {% for respose in comment.subcomments %}
            {% set sub_user = respose.user %}
            {% if sub_user %}
                [SUBCOMMENT] {{ respose.crate_at }} <br>
                {{ sub_user.username }} RANK: {{ sub_user.rank }} <br>
                <p>response:  <a href="{{ respose.to_user.profile_link }}">{{ respose.to_user.tag }}</a> {{ respose.text }} vote: {{ respose.upvote_num }}</p>
                <!-- subcomment action  -->
                {% if current_user.is_authenticated and not thread.closed %}
                    <!-- TODO: solo se non è il suo commento -->
                    <a href="{{ url_for('add_subupvote', comment_id=respose.id) }}">
                        upvote
                    </a>
                    <a href="{{ url_for('delete_subcomment', comment_id=respose.id) }}">
                        delete
                    </a>
                    <br>
                    <!-- create subcomments to subcomment -->
                    <form method="POST" novalidate>
                        {{ form_subcomment.hidden_tag() }}
                        <h4>RISPONDI AL SUBCOMMENTO</h4>
                        <div>
                            <div>
                                {{ form_subcomment.text2.label }}
                                {{ form_subcomment.text2(type="text", placeholder="Text") }}
                                {{ form_subcomment.comment_id(value=comment.id, type="hidden") }}
                                {{ form_subcomment.to_user_id(value=sub_user.id, type="hidden") }}
                        
                                {% if form_subcomment.text2.errors %}
                                    {% for error in form_subcomment.text2.errors %}
                                    <span>{{ error }}</span><br>
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <div>
                                {{ form_subcomment.submit2(class="btn btn-warning") }}
                                </div>  
                            </div>
                        </div> 
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
    {% endif %}
{% endfor %}